.marker {
  width: 6px;
  height: 6px;
  border: 2px solid blue;
  background: blue;
  outline: none;
}

.selected {
  border: 2px solid orangered;
}

.mapBackground {
  border-radius: 8px;
}


.tableRowActiveKey:hover {
  border-bottom: 1px solid blue;
}

.tableRowActiveKey {
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  border-bottom: 1px solid transparent;
}

.markerTable input {
  width: 120px;
  font: inherit;
  border: none;
  outline: none;
}

.markerTable input[disabled] {
  padding: 0;
  vertical-align: inherit;
  color: inherit;
  background: none;
}

body {
  margin: 0;
}

#react-target {
  height: 100vh;
}

.actionButton {
  margin: 0 10px;
  display: inline-block;
}

.colorInputStyle {
  font-size: 9px;
  border: 1px solid;
  margin: 0 1px;
  text-align: center;
}

.typesPanelItem {
  border: 1px solid black;
  padding: 4px 8px;
  margin: 2px 0;
}

.selectedTypesPanelItem {
  background: darkgray;
}


#mainLayoutTable {
  height: 100%;
  width: 100%;
}

#mainLayoutTable td, #mainLayoutTable td * {
  vertical-align: top;
}

#Container {
  width: 130px;
}

#canvasContainer {
  width: 1200px;
}

#actionBar {
  height: 60px;
}
