.marker {
  width: 6px;
  height: 6px;
  border: 2px solid blue;
  background: blue;
  outline: none;
}

.selected {
  border: 2px solid orangered;
}

.mapBackground {
  border-radius: 8px;
}

.markerTable input {
  width: 120px;
  font: inherit;
  border: none;
  outline: none;
}

.markerTable input[disabled] {
  padding: 0;
  vertical-align: inherit;
  color: inherit;
  background: none;
}